.calendar-container, .calendar, .calendar-header, td, tr {
    padding: 0;
    margin: 0;
}

.calendar {
    width:40%;
    background-color: wheat;
    border-spacing: 0;
    border-collapse: collapse;
}

.calendar-header {
    text-align: center;
    font-size:1.6em;
    background-color: skyblue;
}

.calendar-header td {
    border-spacing: 0;
}

.day, .empty-slot, .week-day {
    text-align: center;
}
.day {
    cursor: pointer;
}

.current-day {
    background-color: greenyellow;
}

.popup {
    background: white;
    border: 2px solid skyblue;
}